body {
    font-family: 'Roboto', sans-serif;
    margin: 80px auto;
    max-width: 800px;
    line-height: 1.6;
    color: #444;
    padding: 0 10px;
}

a {
    color: #0047ab;
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: color 0.3s ease;
}

a:hover {
    color: #003380;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

pre {
    font-size: 12px;
}

pre.src {
    position: relative;
    padding-top: 1.2em;
    overflow: auto;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 800px;
  border-bottom: 1px solid #444;
  z-index: 99999;
}

.topnav a {
  font-family: 'Roboto', sans-serif;
  float: left;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  color: #444;
}

.topnav a:hover {
  background: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}
